body {
    width: 1130px;
}

.btn-container{
    margin: 15px;
 }

.show-area {
    margin: 15px;
    border: solid black;
    height:670px
}

#ss{
    width:1095px;
    height:670px
}